{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet"/>
<style>
  /* Estilos del cuerpo de las modales */
  .modal-body {
    text-align: center;
  }

  .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
  .modal-body h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .modal-body p {
    font-size: 16px;
    color: #333;
  }

  .modal-body iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin-bottom: 15px;
  }

  /* Estilos del botón de reservar */
  .btn-reservar {
    display: inline-block;
    background: #dc3545;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }

  .btn-reservar:hover {
    background: #bb2d3b;
    transform: scale(1.05);
  }

  /* Icono dentro del botón */
  .btn-reservar i {
    font-size: 16px;
  }
  .descripcion-pelicula {
  text-align: justify;
  }
</style>
{% endblock %}

{% block content %}
  
  {% for pelicula in peliculas %}
  <div class="portfolio-modal modal fade" id="portfolioModal{{ pelicula.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">
                <img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" />
                <!-- O también puedes usar el icono de FontAwesome aquí si prefieres -->
                <i class="fas fa-xmark"></i>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 style="color: #000;">{{ pelicula.titulo }}</h2>
                            <p class="item-intro text-muted"></p>
                            <iframe class="d-block mx-auto" width="560" height="315" src="{{ pelicula.trailer_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <p class="descripcion-pelicula" style="color: #000;">{{ pelicula.descripcion }}</p>
                            <p style="color: #000; font-weight: bold;">Horario: {{ pelicula.horario }}</p>
                            <ul class="list-inline">
                                <div class="con" style="display: flex; flex-direction: row; justify-content: center; color: #000;">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= pelicula.calificacion %}
                                    <li><i class="fa fa-star check"></i></li>
                                    {% else %}
                                    <li><i class="fa fa-star"></i></li>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                <li>
                                    <strong style="color: #000;">Categoria: {{ pelicula.categoria }}</strong>
                                </li>
                            </ul>
                            <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


  <section class="page-section" style="background-color: rgb(10, 10, 10);" id="portfolio">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading" style="color: #fff;">Cartelera De Esta Semana</h2>
              <h3 class="section-subheading text-muted"></h3>
          </div>
          <div class="row">
              {% for pelicula in peliculas %}
              <div class="parra col-lg-4 col-sm-6 mb-4">
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ pelicula.id }}">
                          <div class="portfolio-hover" style="background-color: rgba(255, 0, 0, 0.9);">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="{{ pelicula.imagen.url }}" alt="{{ pelicula.titulo }}"/>
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading" style="color: #000">{{ pelicula.titulo }}</div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div> 
        <div class="container text-center mt-4" >
        <a href="{% url 'reserva' %}" style="background-color:  rgba(255, 0, 0, 0.9);" class="btn btn-reservar">
            <i  class="fas fa-ticket-alt me-2"></i> Reservar Peliculas
        </a>
        </div>
  </section>

  <!-- Botón de Reservar centrado -->
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}
