{% extends 'base.html' %}
{% load static %}

{% block style %} <link href="{% static 'css/style.css' %}" rel="stylesheet"/> {% endblock %}
<style>
  .modal-body {
    text-align: center; /* Centra todo el contenido */
}

.modal-body h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-body p {
    font-size: 16px;
    color: #333;
}

.modal-body iframe {
    width: 100%;
    max-width: 560px; /* Asegura que no se estire demasiado */
    height: 315px;
    margin-bottom: 15px;
}

</style>


{% block content %}
  
  
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 style="color: #000;">50 Sombras De Grey</h2>
                                <p class="item-intro text-muted"></p>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/wIqz_08P2Hk?si=TgdIzayYJVRjE5I6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p style="color: #000;">Anastasia Steele, una joven estudiante, conoce al misterioso magnate Christian Grey y se ve inmersa en una relación intensa que mezcla amor, deseo y los límites del control personal. Mientras sus mundos chocan, ambos deben enfrentar sus pasados y las complejidades de su relación poco convencional.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center; color: #000;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong style="color: #000;">Categoria: Romance y Drama</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase" style="color: #000;">Alien</h2>
                                <iframe class="col-sm-6 col-lg-12" width="560" height="315" src="https://www.youtube.com/embed/5nWH2Pd-x-c?si=67FhXUR_0jnn_rRb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p style="color: #000;">A bordo de la nave Nostromo, la tripulación despierta para investigar una señal misteriosa. Pronto descubren que han llevado a bordo un letal alienígena que amenaza con destruirlos uno a uno, desatando un aterrador juego de supervivencia.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong style="color: #000;">Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <h2 class="text-uppercase" style="color: #000;">Avatar</h2>
                                <iframe class="d-block mx-auto" width="560" height="315" src="https://www.youtube.com/embed/FSyWAxUg3Go?si=X3qXouiAMUxsJeKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <p style="color: #000;">En el mundo de Pandora, un exmarine discapacitado, Jake Sully, participa en un programa que le permite habitar un cuerpo Na'vi. Mientras se conecta con la comunidad alienígena y su entorno, debe decidir entre cumplir con su misión o proteger su nuevo hogar.</p>
                                <ul class="list-inline">
                                    <div class="con" style="display: flex; flex-direction: row; justify-content: center;">
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star check"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    </div>
                                    <li>
                                        <strong style="color: #000;">Categoria: Ciencia ficción y fantasía</strong>
                                    </li>
                                </ul>
                                <button class="btn btn-danger btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="page-section" style="background-color: rgb(10, 10, 10);" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading" style="color: #fff;">Cartelera</h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
            <div class="row">
                <div class="parra col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover bg-danger">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/50-sombras.jpg' %}"/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading " style="color: #000">50 Sombras De Grey</div>
                        </div>
                    </div>
                </div>
                <div class="parra col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover bg-danger">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/alien.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading" style="color: #000">Alien</div>
                        </div>
                    </div>
                </div>
                <div class="parra col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover bg-danger">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'imagenes/avatar.jpg' %}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading" style="color: #000">Avatar</div>   
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}