{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}

{% block content %}
<h2 class="text-center mb-4" style="background-color: #0a84ff57; height: 90px; width: 100%; color: black; padding: 20px; font-size: 50px; border-bottom: 3px solid white;">Sugerencias</h2>
<div class="container1 mt-5">
    <h2 class="text-center">Formulario de Sugerencias</h2>
    <p class="text-center">Tu opinión es muy importante para nosotros. ¡Déjanos tu sugerencia!</p>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Enviar Sugerencia</button>
    </form>
</div>
{% endblock %}